<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <title>{% block title %}{% endblock %} - Thermostat</title>
    <script type="text/javascript" src="{{STATIC_URL}}mootools-core-1.4.5-full-nocompat-yc.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}mootools-more-1.4.0.1.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}xcharts.min.css" />
    <script type="text/javascript" src="{{STATIC_URL}}d3.v2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}xcharts.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}thermostat.css" />
    <script type="text/javascript" src="{{STATIC_URL}}thermostat.js"></script>
	{% block head %}{% endblock %}
    <style type="text/css">
        {% block stylesheet %}{% endblock %}
    </style>
    <script type="text/javascript">
        var JsonRpcErrorHandler = function(id, code, message)
        {
            var root = $('error');
            var error = new Element('div')
            error.set('text', 'There was an JSON-RPC error. '+message);
            root.adopt(error);
            root.setStyle('display', 'block');
        }
        {% block javascript %}{% endblock %}
    </script>
</head>
<body>
<div id="header">{% block header %}Thermostat Service{% endblock %}</div>
<div id="error"></div>
<div id="content">
{% block content %}{% endblock %}
</div>
<div id="footer">{% block footer %}&copy; 2012 Erik Svensson{% endblock %}</div>
</body>
</html>
