@import url("/static/font/opensans/stylesheet.css");
html, input, select {
    color: #333;
    background-color: #fff;
    font-family: "Open Sans", "Calibri", sans-serif;
}
body {
    width: 1000px;
    margin: 0 auto;
}
#header {
	padding: 1em 0.5em;
	font-size: 120%;
	background-color: #eee;
}
#footer {
	padding: 1em 0.5em;
	font-size: 80%;
	background-color: #eee;
}
#content {
	padding: 1em 0.5em;
	background-color: #fff;
	border-left: 1px dashed #eee;
	border-right: 1px dashed #eee;
}
#error {
	padding: 0.5em 1em;
	color: #443;
	text-shadow: 1px 1px 0px #DDB;
	background-color: #FEA;
	border: 1px solid #D92;
	display: none;
}
#error div {
	padding: 0.25em;
}
.xchart .line {
  stroke-width: 1px;
}
.xchart circle {
  stroke-width: 1px;
}
.xchart .axis text {
  font-family: "Open Sans", sans-serif;
}
.xchart .color0 circle, .xchart .color1 circle {
  fill: rgba(255, 255, 255, 0.0);
  stroke: rgba(255, 255, 255, 0.0);
}
.xchart .color0.comp .line {
  stroke: #999;
}
.xchart .color0.comp circle {
  stroke: #999;
}
#tooltip {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.78);
    border: 1px solid #3880AA;
    padding: 0.125em 0.25em;
    border-radius: 0.25em;
    font-size: 9pt;
}
#chart {
    height: 400px;
    margin: 1em;
}
#configuration ul {
	list-style-type: none;
}
#configuration li {
	margin-bottom: 0.5em;
}
input[type="submit"] {
	padding: 0.25em 1em;
	border-radius: 0.5em;
    border: 1px solid #333;
    color: black;
background: #b7c3cc; /* Old browsers */
background: -moz-linear-gradient(top,  #b7c3cc 0%, #596a72 94%, #7e868c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7c3cc), color-stop(94%,#596a72), color-stop(100%,#7e868c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b7c3cc 0%,#596a72 94%,#7e868c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b7c3cc 0%,#596a72 94%,#7e868c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b7c3cc 0%,#596a72 94%,#7e868c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b7c3cc 0%,#596a72 94%,#7e868c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7c3cc', endColorstr='#7e868c',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:active {
background: #7e868c; /* Old browsers */
background: -moz-linear-gradient(top,  #7e868c 0%, #596a72 6%, #b7c3cc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e868c), color-stop(6%,#596a72), color-stop(100%,#b7c3cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7e868c 0%,#596a72 6%,#b7c3cc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7e868c 0%,#596a72 6%,#b7c3cc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7e868c 0%,#596a72 6%,#b7c3cc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7e868c 0%,#596a72 6%,#b7c3cc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e868c', endColorstr='#b7c3cc',GradientType=0 ); /* IE6-9 */
}
